# byte-compiled files
__pycache__/

# C extensions
*.so

# build outputs
dist/
build/
docs/_build/
docs/jupyter_execute/

# environment control
.env
.envrc
.direnv/

# dependency resolution outputs
requirements.txt

# caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.hypothesis/

# test outputs
.coverage
