[MASTER]

disable = invalid-name, import-error, too-many-statements, too-many-locals, too-many-branches, too-many-arguments, eval-used, too-many-nested-blocks, too-many-public-methods, redefined-builtin, wildcard-import, function-redefined, unused-wildcard-import, duplicate-code, too-many-instance-attributes, too-few-public-methods, pointless-string-statement, no-name-in-module, no-self-use, arguments-differ, too-many-lines, missing-docstring, attribute-defined-outside-init, too-many-function-args

extension-pkg-whitelist=numpy

generated-members = id, x, y, z, h, s, sdg, u1, u2, u3, cx, barrier, binary, measure, append, rx, ry

notes = 

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=100
