[MASTER]

disable =
    missing-docstring,
    too-few-public-methods,
    too-many-branches,
    duplicate-code,


extension-pkg-whitelist=numpy

generated-members = id, x, y, z, h, s, sdg, u1, u2, u3, cx, barrier, binary, measure, append, rx, ry

notes = 

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=100

[BASIC]

good-names=cl, qc, qu
